* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
  background: url(./img/About_background.svg) center center/cover no-repeat;
}
/* Navbar */
.main{
   position: sticky;
  top: 0;
  left: 0;
  z-index: 99999999;
}
.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  padding: 15px;
  background: rgba(5, 124, 98, 0.986);
}
.navbar a {
  text-decoration: none;
  color: #fff;
  padding: 10px;
}
.navbar a:hover{
  color: #000;
  background: #fff;
  padding: 10px;
  border-radius: 50px;
  transition: ease-in-out .5s;
}
.logo {
  margin-right: 50px;
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;
}
.list {
  list-style: none;
  display: flex;
  gap: 35px;
}

#toggler, .navbar label{
  display: none;
}

/* Service Page */

.service_container {
  width: 100%;
  padding: 50px;
}


/* Service Box Container */
.service_box_container{
  display: flex;
  justify-content: space-evenly;
  margin-top: 45px;
}
.service_box{
  width: 300px;
  height: 350px;
  background: url(./img/services\ box\ background.svg);
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  gap: 15px;
  cursor: pointer;
  transition: ease-in-out .5s;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.service_box:hover{
  transform: scale(1.1);
  transition: ease-in-out .5s;
}
/* Service Box images */
.service_box img{
  width: 100px;
  height: 100px;
}

.service_box .title{
  color: #fff;
  font-weight: bold;
}

.service_box .detail{
  color: rgba(255, 255, 255, 0.637);
  margin: 10px;
}


/* Projects */

.project_container{
  width: 100%;
  padding: 50px;
}
.project_box_container{
  display: flex;
  justify-content: space-evenly;
}
.project_box{ 
  width: 300px;
  height: 350px;
  background: url(./img/About_background.svg) center center/cover no-repeat;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  gap: 15px;
  cursor: pointer;
  transition: ease-in-out .5s;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.project_box:hover{
  transform: scale(1.1);
  transition: ease-in-out .5s;
}
/* Service Box images */
.project_box img{
  width: 100px;
  height: 100px;
}

.project_box .title{
  color: #fff;
  font-weight: bold;
}

.project_box .detail{
  color: rgba(255, 255, 255, 0.637);
  margin: 10px;
}

.project_box .link{
  background: #fff;
  width: 100px;
  padding: 5px;
  border-radius: 15px;
  letter-spacing: .2em;
  transition: ease-in-out .5s;
}
.project_box .link:hover{
  color: #fff;
  background: #000;
  transition: ease-in-out .5s;
}

/* About */

.about_container{
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 50px;
  align-items: center;
  padding: 50px;
}
.about_container img{
  width: 350px;
  height: 450px;
}

.about_container .bio{
  width: 600px;
  height: 400px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  font-size: 25px;
  color: #fff;
  font-family: cursive;
}
.download_btn{
  text-decoration: none;
  color: #000;
  background: #fff;
  border-radius: 50px;
  width: 200px;
  padding: 15px;
  text-align: center;
  align-self: center;
  margin-top: 50px;
  font-size: 20px;
  transition: ease-in-out 1s;
}
.download_btn:hover{
  color: #fff;
  background: #000;
  transition: ease-in-out 1s;
}


/* Contact Page */
.contact_container {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 50px;
  align-items: center;
  padding: 50px;
}

.contact_container_box{
  width: 800px;
  height: 400px;
  background: url(./img/About_background.svg) center center/cover no-repeat;
  border-radius: 15px;
  display: flex;
  gap: 120px;
}
.contact{
  width: 280px;
  height: 400px;
  background: rgb(0, 110, 74);
  color: #fff;
  border-radius: 15px 0px 0px 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: left;
  padding: 15px;
}
.messege{
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 300px;
  height: 200px;
  gap: 10px;
}
.msg_box{
  padding: 10px;
  border-radius: 15px;
  outline: none;
}
.msg_box2{
  padding: 25px;
  border-radius: 15px;
  outline: none;
}

.btn{
  width: 100px;
  padding: 15px;
  text-align: center;
  margin-left: 100px;
  border-radius: 15px;
  border: 2px solid grey;
  transition: ease-in-out 1s;
}
.btn:hover{
  border: 2px solid grey;
  background: #000;
  color: #fff;
  transition: ease-in-out 1s;
}